<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/splash-screen">
      </ion-back-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="scrutineer" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">E-Mail Address</ion-label>
      <ion-input inputmode="email" type="email" formControlName = "email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating" > Password</ion-label>
      <ion-input type="password" formControlName = "password"></ion-input>
    </ion-item>
  </form>

  <ion-button (click)="login()" expand="full" [disabled]="!scrutineer.valid">
    <ion-icon slot="icon-only" name="person-add"></ion-icon>
    Sign In
  </ion-button>
</ion-content>
