<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/splash-screen/vote">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Candidate Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "row">
    <div class="col"></div>
    <div class="col">
      <ion-card class="card">
        <ion-img [src]="fileLocation"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Full Names:</ion-card-subtitle>
          <ion-card-title>{{ candidate.firstName + ' ' + candidate.lastName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="block" (click) = 'requestToVote()'>
            <ion-icon class= 'voteIcon'  slot="icon-only" name = "checkbox-outline"></ion-icon>
            <span class="voteIcon">VOTE</span></ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
</ion-content>
