<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/splash-screen">
      </ion-back-button>
    </ion-buttons>
    <ion-title>vote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text *ngIf="nomineeList.length == 0" color="secondary">
    <h1>You Have Voted For Every Available Candidate </h1>
  </ion-text>
  <ion-list>
    <ion-item *ngFor = "let nominee of nomineeList" [routerLink] = "['./', nominee.id]">
      <ion-label>
      <h2>{{nominee.firstName + ' ' + nominee.lastName}}</h2>
        <h3>Position: {{nominee.position}}</h3>
      <p>Number of Nominations: {{nominee.nominationCount}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
