<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor = "let nominee of nomineeList | async" [routerLink] = "['./', nominee.id]">
      <ion-avatar slot= "start" class="ion-margin-start">
        <img [src]= "fileLocation">
      </ion-avatar>
      <ion-label>
      <h2>{{nominee.firstName + ' ' + nominee.lastName}}</h2>
        <h3>Position: {{nominee.position}}</h3>
      <p>Number of Nominations: {{nominee.nominationCount}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
