<ion-header>
  <ion-toolbar>
    <ion-title>Nominees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button [routerLink] = "['/splash-screen', 'register-nominee']">Add New Nominee</ion-button>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor = "let nominee of nomineeList | async">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{nominee.firstName + nominee.lastName}}</ion-card-subtitle>
          <ion-card-title>Position: {{nominee.position}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>{{nominee.nominationCount}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
